extend layout
block content
	div.entry
		div.label 
			p Relay switch #1
		div.button-container
			div.button-background
				span.left ON
				span.right OFF
			div.button-slider#relay1
		
	div.entry
		div.label 
			p Relay switch #2
		div.button-container
			div.button-background
				span.left ON
				span.right OFF
			div.button-slider#relay2
		
	
