doctype
html
	head
		title Zis is teh erste test
		link(rel="stylesheet", href="/stylesheets/main.css")
	body
		header
			h1 meine site
		.container
			.main-content
				block content
		footer
			p zis ist teh footer

script(src="http://code.jquery.com/jquery-2.1.0.min.js")
script(src="/main.js")
