doctype
html
	head
		title Lamp Switch
		link(rel="stylesheet", href="/stylesheets/main.css")
		link(rel="icon", type="image/png", href="/images/lamp-icon.png")
	body
		header
			h1 Raspberry
		.container
			.main-content
				block content
		footer
			p zis ist teh footer

script(src="http://code.jquery.com/jquery-2.1.0.min.js")
script(src="/main.js")
