extend layout
block content
	form#login(action="/login", method="post")
		div.entry
			div.label
				p Login
			div.login
				input(type="text", name="login", placeholder="black jesus")
		div.entry
			div.label
				p Password
			div.passwd
				input(type="password", name="passwd")
		div.entry
			button(type="submit") Login